* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

#home {
    background: #555;
    color: #fff;
    padding: 50px 20px;
    text-align: center;
}

#home h1 {
    font-size: 3em;
}

.btn {
    background: #e8491d;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    border-radius: 5px;
}

#about, #services, footer {
    padding: 20px;
    text-align: center;
    background: #fff;
    margin-top: 20px;
}

.services-container {
    display: flex;
    background-color: turquoise;
    justify-content: space-around;
    padding: 20px;
}

.service {
    background: #f7f6f6;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
}

footer {
    background: #fbfbfb;
    color: #070303;
    padding: 20px;
}
